@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@300;400;600;700&display=swap");

/* setting initial page margins, padding and borders to 0 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*  Fonts */
  --ff-main: "Montserrat", sans-serif;
  --ff-headline: "Limelight", cursive;
  /*  FONT WEIGHTS */
  --fw-l: 300;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;
  /* Font Sizes */
  --fs-1: 3.2rem;
  --fs-2: 2.4rem;
  --fs-3: 1.87rem;
  --fs-4: 1.6rem;
  --fs-5: 1.33rem;
  --fs-6: 1.072rem;
  --fs-default: 1.6rem;
  /* Default colours */
  --clr-background: rgba(110, 194, 181, 0.5);
  --clr-primary-000: black;
  --clr-primary-100: rgb(110, 194, 181);
  --clr-primary-200: rgb(120, 165, 194);
  --clr-primary-400: rgb(190, 91, 141);
  --clr-primary-Green: rgb(51, 194, 97);
  --clr-primary-Red: rgb(194, 68, 68);
  --clr-hover: rgb(105, 201, 172);
  --clr-box-shadow: rgba(110, 194, 181, 0.7);
  --clr-button-background: rgb(255, 255, 255);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-default);
  font-weight: var(--fw-n);
  background-color: var(--clr-background);

  /* overflow: hidden; */

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headline);
  font-weight: var(--fw-b);
  color: var(--clr-primary-000);
}

form {
  height: 90vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 60vw;
  max-width: 30rem;
  padding: 1rem;
  margin-top: 0.5rem;
  font-size: var(--fs-normal);
  border: none;
  -webkit-box-shadow: 0 0.1rem 1.4rem 0 var(--clr-box-shadow);
          box-shadow: 0 0.1rem 1.4rem 0 var(--clr-box-shadow);
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input::-moz-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder {
  color: #aaa;
}

input::-ms-input-placeholder {
  color: #aaa;
}

input::placeholder {
  color: #aaa;
}

#exit-quiz-container {
  z-index: 101;
}

#high-scores-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

#height-to-small-to-play {
  display: none;
  padding: 3rem;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

#height-to-small-to-play h2 {
  font-family: var(--ff-main);
  color: var(--clr-primary-400);
  margin-top: 2rem;
  line-height: 4rem;
}

#home-container h1 {
  font-size: 400%;
  margin-bottom: 1rem;
  color: var(--clr-primary-400);
}

/* loadingSpinner */

#loadingSpinner {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid var(--clr-primary-200);
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#main-container {
  height: 100vh;
  width: 100vw;
  padding: 10vh 10vw;
  position: absolute;
}

#progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

#progressBar {
  width: 15rem;
  height: 2.4rem;
  border: 0.1rem solid var(--clr-primary-400);
  border-radius: 2rem;
  margin-top: 1rem;
}

#progressBarFull {
  height: 2.2rem;
  background-color: var(--clr-primary-400);
  width: 0%;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
}

#sfx-control {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.add-background-image {
  background: url(../images/background-img-1400.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;  
  background-size: cover;
}

.answers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 90%;
  font-size: var(--fs-default);
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
}

.answers-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 var(--clr-box-shadow);
          box-shadow: 0 0.4rem 1.4rem 0 var(--clr-box-shadow);
  -webkit-transform: translateY(-0.1rem);
      -ms-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.answers-prefix {
  padding: 1rem;
  background-color: var(--clr-primary-100);
  font-size: var(--fs-default);
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  color: white;
}

.answers-text {
  padding: 1rem;
  width: 100%;
  font-size: var(--fs-default);
}

.correct {
  background-color: var(--clr-primary-Green);
}

.fa-volume-mute,
.fa-volume-up {
  color: var(--clr-primary-400);
  font-size: var(--fs-5);
}

.flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.glass {
  z-index: 99;
  height: 80vh;
  width: 80vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  position: absolute;
  margin: 0 auto;
  padding: 2rem 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 20px 20px 22px var(--clr-box-shadow);
  box-shadow: 10px 10px 20px var(--clr-box-shadow);
}

.hidden {
  display: none;
}

.high-scores-lists {
  font-size: var--(--fs-default);
  margin-bottom: 0.5rem;
  list-style: none;
  line-height: 3.5rem;
}

.high-scores-lists div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.high-scores-lists div span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.high-scores-lists span:first-of-type {
  text-align: left;
  width: 30rem;
  padding-right: 3rem;
}

.high-scores-lists div span:last-of-type {
  text-align: right;
  padding-right: 3rem;
}

.incorrect {
  background-color: var(--clr-primary-Red);
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 5vw;
  min-width: 150px;
  margin: 1rem auto 2rem;
}

.mute-text {
  font-family: var(--ff-main);
  font-size: var(--fs-5);
  font-weight: var(--fw-b);
}

.progress-bar-rounded {
  border-radius: 1.8rem;
}

.progress-prefix {
  text-align: center;
  font-size: var(--fs-default);
}

.progress-main-text {
  text-align: center;
  color: #be5b8d;
  margin-top: 0.5rem;
}

.points-info {
  font-weight: var(--fw-b);
  text-align: center !important;
}

.points-information-scores {
  margin-top: 0.5rem;
  font-size: 90%;
  text-align: center !important;
}

.text-center {
  text-align: center;
}

.question-text {
  font-size: var(--fs-default);
  font-weight: var(--fw-b);
}

/* BUTTONS */

.btn {
  -webkit-appearance: none;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 60vw;
  max-width: 30rem;
  text-align: center;
  border: 0.1rem solid var(--clr-primary-300);
  background-color: var(--clr-button-background);
  color: var(--clr-primary-000);
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 2rem;
}

.continue-game-button {
  margin-top: 2rem;
  background-color: var(--clr-primary-Green);
}

.btn-difficulty {
  font-size: var(--fs-4);
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-text-align-last: center;
  margin-top: 4rem;
}

.btn-exit-quiz {
  font-size: var(--fs-5);
  width: 15rem;
  height: auto;
  color: var(--clr-primary-200);
}

.exit-game-button {
  margin-top: 4rem;
  background-color: var(--clr-primary-Red);
  color: white;
}

.btn-play-game {
  color: var(--clr-primary-000);
}

.btnViewHighScore {
  color: var(--clr-primary-000);
}

.btnSave {
  color: var(--clr-primary-000);
  margin-top: 0;
  font-size: var(--fs-default);
}

.play-buttons {
  margin-top: 5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--clr-hover);
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 var(--clr-primary-200);
          box-shadow: 0 0.4rem 1.4rem 0 var(--clr-primary-200);
  -webkit-transform: translateY(-0.1rem);
      -ms-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}


/* Media Queries */

@media screen and (max-height: 450px) {
  #height-to-small-to-play {
    display: unset !important;
    z-index: 110;
  }
}

/* On screens that are 768px or more */

@media screen and (min-width: 768px) {
  

  .fa-volume-mute,
  .fa-volume-up {
    font-size: 3rem;
  }
  .glass {
    height: 80%;
    width: 80%;
    padding: 3rem 7rem;
  }
  .logo {
    width: 15vw;
    margin: 1rem auto 2rem;
  }
}

/* On screens that are 1024px or more */

@media screen and (min-width: 1024px) {
 
  .glass {
    height: 80%;
    width: 75%;
    padding: 6rem 12rem;
  }
  .logo {
    width: 20vw;
    margin: 1rem auto 2rem;
  }
}

/* On screens that are 1400px or more */

@media screen and (min-width: 1400px) {
  
  .glass {
    height: 80%;
    width: 75%;
    padding: 10rem 20rem;
  }
  .logo {
    width: 15vw;
    margin: 1rem auto 2rem;
  }
}