@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@300;400;600;700&display=swap");

/* setting initial page margins, padding and borders to 0 */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*  Fonts */
  --ff-main: "Montserrat", sans-serif;
  --ff-headline: "Limelight", cursive;
  /*  FONT WEIGHTS */
  --fw-l: 300;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;
  /* Font Sizes */
  --fs-1: 3.2rem;
  --fs-2: 2.4rem;
  --fs-3: 1.87rem;
  --fs-4: 1.6rem;
  --fs-5: 1.33rem;
  --fs-6: 1.072rem;
  --fs-default: 1.6rem;
  /* Default colours */
  --clr-background: rgba(110, 194, 181, 0.5);
  --clr-primary-000: black;
  --clr-primary-100: rgb(110, 194, 181);
  --clr-primary-200: rgb(120, 165, 194);
  --clr-primary-400: rgb(190, 91, 141);
  --clr-primary-Green: rgb(51, 194, 97);
  --clr-primary-Red: rgb(194, 68, 68);
  --clr-hover: rgb(105, 201, 172);
  --clr-box-shadow: rgba(250, 229, 114, 0.1);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-default);
  font-weight: var(--fw-n);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headline);
  font-weight: var(--fw-b);
  color: var(--clr-primary-000);
}

#home-container h1 {
  font-size: 400%;
  margin-bottom: 1rem;
  color: var(--clr-primary-400);
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
}
